.services-home h1{
    font-size: 50px;
}

.services 
{

    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.services img 
{
    height: 300px;
}
.service
{
    
    box-shadow: 20px 20px 50px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255, 0.2);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.service h2{
    color: #262626;
}
.service p{
    border-bottom: 1px solid lightgrey;
}